.Rhistory
.RData
.Rproj.user/
renv/library/
renv/staging/
output/

/.quarto/


.DS_Store
.AppleDouble
.LSOverride

# Archivos de miniaturas
._*

# Archivos temporales del sistema
.Spotlight-V100
.Trashes

# Archivos de metadatos
Icon?
**/*.quarto_ipynb
